@import '@fortawesome/fontawesome-free/css/all.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--dark-theme-gray: #2a323c;
	--light-theme-white: #faf7f9;
	--primary-color: oklch(var(--p));
	--primary-content-color: oklch(var(--pc));
	--secondary-color: oklch(var(--s));
	--secondary-content-color: oklch(var(--sc));
	--accent-color: oklch(var(--a));
	--accent-content-color: oklch(var(--ac));
	--neutral-color: oklch(var(--n));
	--neutral-content-color: oklch(var(--nc));
	--bg-accent: var(--bg-accent);
	--base-color-100: oklch(var(--b1));
	--base-color-200: oklch(var(--b2));
	--base-color-300: oklch(var(--b3));
	--base-content-color: oklch(var(--bc));
	--info-color: oklch(var(--in));
	--info-content-color: oklch(var(--inc));
	--success-color: oklch(var(--su));
	--success-content-color: oklch(var(--suc));
	--warning-color: oklch(var(--wa));
	--warning-content-color: oklch(var(--wac));
	--error-color: oklch(var(--er));
	--error-content-color: oklch(var(--erc));
}

details > summary {
	list-style: none;
}

div.theme-card:active {
	@apply scale-95;
}

div.theme-card:hover {
	@apply scale-105;
}

div.theme-card.selected {
	border-bottom-color: var(--bg-accent);
	border-right-color: var(--bg-accent);
}

div.theme-card {
	@apply rounded-xl overflow-hidden card border-b-4 border-r-2 border-transparent drop-shadow-md;
}

div.theme-card > div.card-body {
	@apply bg-base-100;
}

div.theme-card > div.card-body > p.theme-card-name {
	@apply uppercase text-center text-sm font-semibold px-1;
}

div.theme-card > figure.theme-card-figure {
	@apply h-full;
}
